[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=su-to-root -X -c /usr/sbin/ufw-qt
Name=Firewall Manager
Comment=Manage firewall rules
Icon=/usr/share/ufw-frontends/icon.png
Categories=System;Settings;
